#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios =
            <&pro_micro 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&pro_micro 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

    default_transform: matrix_transform0 {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <3>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
        >;
    };

    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys =
            <&key_physical_attrs 100 100   0 0 0 0 0>,
            <&key_physical_attrs 100 100 100 0 0 0 0>,
            <&key_physical_attrs 100 100 200 0 0 0 0>;
    };
};
